@page "{id}"
@model ProductManagementSystems.tonyissa.Pages.Admin.DeleteModel

@{
	ViewData["Title"] = "Delete a User";
}

<h1>@ViewData["Title"]</h1>

<p>Would you like to delete this user?</p>

<div>
    <h4>User</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SelectedUser.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SelectedUser.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SelectedUser.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SelectedUser.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SelectedUser.EmailConfirmed)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SelectedUser.EmailConfirmed)
        </dd>
    </dl>
</div>

<form method="post">
    <input type="hidden" asp-for="SelectedUser.Id" />
    <input type="submit" value="Delete" class="btn btn-danger" /> |
    <a asp-page="./Index">Back to Admin Portal</a>
</form>