@model BookSearchModel

@{
    ViewData["Title"] = "Index";
    
    var isAdmin = User.IsInRole("Admin");
    var isStaff = User.IsInRole("Staff");
}

<h1>Index</h1>
<button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#bookSearchCollapse"
        aria-expanded="false" aria-controls="bookSearchCollapse">
    Search Books
</button>
<div class="collapse" id="bookSearchCollapse">
    <div class="card card-body">

        <form method="get">
            <label>Name: <input type="text" asp-for="BookName"/></label>
            <span>
                <label>Max Price: <input type="number" min="0" max="100" asp-for="MaxPrice"/></label>
                <label>Min Price: <input type="number" min="0" max="100" asp-for="MinPrice"/></label>
            </span>
            <button type="submit" class="btn btn-primary">Search</button>
            <a asp-action="Index" class="btn btn-secondary">Reset</a>
        </form>
    </div>
</div>

@if (isAdmin || isStaff)
{
    <p>
        <a class="btn btn-primary" asp-action="Create">Create New</a>
    </p>
}
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayName("Title")
        </th>
        <th>
            @Html.DisplayName("Price")
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Books)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id">Details</a>
                @if (isAdmin || isStaff)
                {
                    <span>
                        | <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </span>
                }
            </td>
        </tr>
    }
    </tbody>
</table>
